<ion-header>

  <ion-navbar color="dark">
    <ion-title>Terms and Conditions</ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span color="primary" showWhen="ios">Close</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ul>
    <li>There is no surcharge or hidden fees.</li>
    <li>Clients will be charged on there credit card that is on file as soon as the clients destination  have been reached.</li>
    <li>Clients must have valid credit Card on file otherwise the Drivers will not get the call to pick up the clients.</li>
    <li>Clients must respect the drivers and drivers will also respect the clients to give clients excellent service.</li>
    <li>The company have the right to close or terminate  the clients account with no issue involved. </li>

  </ul>
</ion-content>
<p>TKride is Free to join. Please read the terms & conditions below then check the box below. You will be
prompted</p>
<ul>
  <li>Create an account.</li>
  <li>Choose from our selection of High End Cars you want from your map and choose the driver.</li>
  <li>Clients can pre-order their ride.</li>
</ul>
<li></li>
<p>You understand that TKride will charge $7.50 when client enters the vehicle plus $2.75 per mile,</p>
<p>55 cents per minute plus any bridge/toll charges. There are no other costs, hidden fees or surcharges.</p>
<br>
<p>TKRide total will be charged to client’s supplied credit card upon arrival at riders destination.</p>
<br>
<p>If client provides invalid credit card information order will not be processed and drivers will not receive
any pick up information.</p>
<br>
<p>Although it should be common courtesy, Rider/Client agrees to respect the driver as well as to expect
respect and courtesy from the driver. Should Rider or Client feel disrespected or mistreated a formal
complaint should be made to the TKride staff so that it can be investigated by our team.</p>
<br>
<p>TKride reserves the right to close or terminate your account without notice and for any reason deemed
appropriate by company.</p>
<p>By statting your name and checking the box, you agree with TKRide’s Terms & Conditions for
Clients/Riders that appear above on this page.</p>
<br>
<p><strong>Enjoy our excellent service.</strong></p>
<br>
<p><strong>TKride.com</strong></p>
<br>
<p>Management Team</p>
