
<ion-header>

  <!-- <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar> -->

</ion-header>

<ion-content padding>
  <ion-title item-right>
     <img class="home-logo" src="assets/img/tkride-cropped.png" alt="" />
   </ion-title>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item class="item">
      <ion-label stacked class="label">Email</ion-label>
      <ion-input placeholder="yourname@example.com" formControlName="email" type="email"
      [class.invalid]="!loginForm.controls.email.valid &&
      (loginForm.controls.email.dirty || submitAttempt)" class="input"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
    (loginForm.controls.email.dirty || submitAttempt)">
    <p>Please enter a valid email.</p>
  </ion-item>

  <ion-item class="item">
    <ion-label stacked class="label">Password</ion-label>
    <ion-input placeholder="minimum 6 characters" formControlName="password" type="password"
    [class.invalid]="!loginForm.controls.password.valid &&
    (loginForm.controls.password.dirty || submitAttempt)"
    class="input"></ion-input>
  </ion-item>
  <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
  (loginForm.controls.password.dirty || submitAttempt)">
  <p>Your password needs more than 6 characters.</p>
</ion-item>


    <button margin-top ion-button color="dark" block type="submit">
      Login
    </button>

</form>

<button ion-button margin-top block  color="dark" (click)="goToResetPassword()">
  Forgot my password?
</button>

<button ion-button block color="dark" (click)="createAccount()">
  Register Here
</button>
</ion-content>
