
<ion-header>

  <ion-toolbar>
    <ion-title>Description</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <!-- <img src={{driver.carPicture}} alt="" /> -->
  <img-loader src={{driver.carPicture}} useImg></img-loader>
  <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <!-- <img src="assets/img/driver1.png"> -->
          <img-loader src={{driver.driverPicture}} useImg></img-loader>
        </ion-avatar>
        <h2> {{driver.fullname}}</h2>
      </ion-item>
      <ion-item>
        Make
        <ion-note item-right>
          {{driver.carMake}}
        </ion-note>
      </ion-item>
      <ion-item>
        Brand
        <ion-note item-right>
          {{driver.carBrand}}
        </ion-note>
      </ion-item>
      <ion-item>
        Color
        <ion-note item-right>
          {{driver.carColor}}
        </ion-note>
      </ion-item>
      <ion-item>
        Phone number
        <ion-note item-right>
          {{driver.phonenumber}}
        </ion-note>
      </ion-item>
      <ion-item>
        License plate #
        <ion-note item-right>
          {{driver.licensePlateNumber}}
        </ion-note>
      </ion-item>
  </ion-list>
  <!-- <button ion-button (click)="sendNotificaiton()"color="dark" round>Dark Round</button> -->
  <button ion-button (click)="sendNotificaiton()"color="dark" block>Send Request</button>
</ion-content>
