<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="profileForm">

    <ion-item>
      <ion-label stacked>First name</ion-label>
      <ion-input formControlName="firstName" type="text" value={{firstName}} placeholder={{firstName}}
        [class.invalid]="!profileForm.controls.firstName.valid &&
        (profileForm.controls.firstName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.firstName.valid  &&
        (profileForm.controls.firstName.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Last name</ion-label>
      <ion-input formControlName="lastName" type="text" value={{lastName}} placeholder={{lastName}}
        [class.invalid]="!profileForm.controls.lastName.valid &&
        (profileForm.controls.lastName.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.lastName.valid  &&
        (profileForm.controls.lastName.dirty || submitAttempt)">
      <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>CC   ({{cc|slice:0:3}}****{{cc|slice:-4}})</ion-label>
      <ion-input formControlName="cc" type="number"
        [class.invalid]="!profileForm.controls.cc.valid && (profileForm.controls.cc.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.cc.valid  && (profileForm.controls.cc.dirty || submitAttempt)">
        <p>Please enter a valid credit card number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>CVV</ion-label>
      <ion-input formControlName="cvv" type="number" value={{cvv}} placeholder={{cc}}
        [class.invalid]="!profileForm.controls.cvv.valid && (profileForm.controls.cvv.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.cvv.valid  && (profileForm.controls.cvv.dirty || submitAttempt)">
        <p>Please enter a valid CVV number.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Expiration Month</ion-label>
      <ion-input formControlName="month" type="number" value={{month}} placeholder={{month}}
        [class.invalid]="!profileForm.controls.month.valid && (profileForm.controls.month.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.month.valid  && (profileForm.controls.month.dirty || submitAttempt)">
        <p>Please enter a valid month.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Expiration Year</ion-label>
      <ion-input formControlName="year" type="number" value={{year}} placeholder={{year}}
        [class.invalid]="!profileForm.controls.year.valid && (profileForm.controls.year.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!profileForm.controls.year.valid  && (profileForm.controls.year.dirty || submitAttempt)">
        <p>Please enter a valid year.</p>
    </ion-item>

  </form>
  <button ion-button full color="light" (click)="updateProfile()">Update Profile</button>
</ion-content>
