
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Scheduled Rides</ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item *ngFor="let ride of rides">
    <ion-card>
      <ion-item>
        <h2>Pickup Location</h2>
        <p><font size="2">{{(ride)?.pickup}}</font></p>
        <p>{{pickup}}</p>
      </ion-item>

      <ion-item>
        <h2>Dropoff Location</h2>
        <p><font size="2">{{(ride)?.dropOff}}</font></p>
      </ion-item>

      <ion-item>
        <h2>Distance</h2>
        <p><font size="2">{{(ride)?.distance}}</font></p>
      </ion-item>

      <ion-item>
        <h2>Duration</h2>
        <p><font size="2">{{(ride)?.duration}}</font></p>
      </ion-item>

      <ion-item>
        <h2>Time</h2>
        <p><font size="2">{{(ride)?.dateAndTime}}</font></p>
      </ion-item>

      <ion-item>
        <h2>Estimated cost</h2>
        <p><font size="2">{{(ride)?.estimate | currency:'USD':true:'1.0-0'}}</font></p>
      </ion-item>
    </ion-card>
  </ion-item>
</ion-content>
