<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title item-right>
      <img style="  width: 55%;
        background-color: transparent !important;
        margin-top: 5px;" src="assets/img/tkride-cropped.png" alt="" />
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page-home">

<div padding class="content">

<div class="inner-content">

  <ion-list>

    <ion-item class="item">
    <h3 class="label see-all">Choose from nearby drivers&nbsp;&nbsp;<ion-icon name="pin" class="label pin-label"></ion-icon></h3>
  </ion-item>

  <ion-item class="item" *ngFor="let driver of drivers" (click)="openModal(driver)">
      <h4>{{ (driver)?.carMake }} {{ (driver)?.carBrand }} {{ (driver)?.carYear }}</h4>
    <ion-icon name="arrow-forward" item-right class="label"></ion-icon>
  </ion-item>
  <!-- <ion-item class="item" (click)="openTestModal()">
      <h4>Danish</h4>
    <ion-icon name="arrow-forward" item-right class="label"></ion-icon>
  </ion-item> -->
</ion-list>
</div>
</div>
</ion-content>
