
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-avatar item-left>
    <img class="image" src="assets/img/user.png">
  </ion-avatar>
  <br>
  <ion-list>
    <ion-item>
      Email
      <ion-note item-right style="font-size: 12px">
        {{email | slice:0:3}}****{{email | slice:-4}}
      </ion-note>
    </ion-item>
    <ion-item>
      Credit card #
      <ion-note item-right style="font-size: 12px">
        {{cc | slice:0:3}}****{{cc | slice:-4}}
      </ion-note>
    </ion-item>
    <ion-item>
      CVV
      <ion-note item-right style="font-size: 12px">
        {{cvv}}
      </ion-note>
    </ion-item>
    <ion-item>
      Month
      <ion-note item-right style="font-size: 12px">
        {{month}}
      </ion-note>
    </ion-item>
    <ion-item>
      Year
      <ion-note item-right style="font-size: 12px">
        {{year}}
      </ion-note>
    </ion-item>
  </ion-list>
  <button ion-button full color="light" (click)="editProfile()">Edit Profile</button>
</ion-content>
