<ion-content padding>
  <ion-list inset>
    <ion-list-header>
      Drivers Nearby
    </ion-list-header>

    <button ion-item *ngFor="let driver of drivers" (click)="openModal(driver)">
      <h4>{{ (driver)?.fullname }}</h4>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
</ion-list>
</ion-content>
