<ion-header>

  <ion-navbar color="dark">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
  <!-- <ion-buttons start>
    <button (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>
  </ion-buttons>
  <ion-buttons end>
    <button (click)="next()">Next <ion-icon name="arrow-forward"></ion-icon></button>
  </ion-buttons> -->
</ion-header>

<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
        <ion-label floating class="label">First Name</ion-label>
        <ion-input #firstName formControlName="firstName" class="input" type="text" (change)="elementChanged(firstName)"
        [class.invalid]="!signupForm.controls.firstName.valid && (firstNameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupForm.controls.firstName.valid  && (firstNameChanged || submitAttempt)">
        <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item>
        <ion-label floating class="label">Last Name</ion-label>
        <ion-input #lastName formControlName="lastName" class="input" type="text" (change)="elementChanged(lastName)"
        [class.invalid]="!signupForm.controls.lastName.valid && (lastNameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signupForm.controls.lastName.valid  && (lastNameChanged || submitAttempt)">
        <p>Please enter a valid name.</p>
    </ion-item>

    <ion-item class="item">
      <ion-label stacked class="label">Email</ion-label>
      <ion-input placeholder="yourname@example.com" #email formControlName="email" type="email" (change)="elementChanged(email)"
      [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)" class="input"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>
    <ion-item class="item">
      <ion-label stacked class="label">Password</ion-label>
      <ion-input placeholder="minimum 6 characters" #password formControlName="password" type="password" (change)="elementChanged(password)"
      [class.invalid]="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)" class="input"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

  <ion-item>
    <ion-label (click)="termsAndConditions()">I Accept, Terms & Conditions</ion-label>
    <ion-checkbox (ionChange)="enable($event)"></ion-checkbox>
  </ion-item>

   
        <button [disabled]="disabled" ion-button color="dark" block type="submit" icon-right>
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
   
  </form>
</ion-content>
