page-sign-up {

  // ion-navbar {
  //   color: rgba(0,0,0,0.7);
  // }
  form {
    // margin-bottom: 32px;
    margin-top: 25%;
    button {
      margin-top: 10%;
    }
  }

    p {
      font-size: 0.8em;
      color: #d2d2d2;
    }

    .item{
     background-color: rgba(0,0,0,0.7) !important;
   }

   .label{
     color: #bfbfbf !important;
   }

   .input{
     color: #fff !important;
   }

    .invalid {
      border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
      border-bottom: 0 !important;
    }
    ion-content{
      // background-image: url('https://www.empirecls.com/wp-content/themes/empire-custom/images/hero-home.jpg');
      // background: url('img/hero-home.jpg');
      background-image: url('../assets/img/hero-home.jpg');
      //     background-position-x: -60px;
      // background-repeat: no-repeat;
      // background-size: cover;
      // width: 100%;
      // height: 100%;
      // position:absolute;
      // top: 0;
      // left: 0;
      // z-index: -1;
          width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    }
}
