<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title item-right>
      <img src="assets/img/tkride-cropped.png" alt="" class="logo-style" />
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div #map id="map"></div>
</ion-content>