<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Programs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ol>
    <li>For every $1 spent you will earn 1 point.</li>
    <li>Tips not included</li>
    <li>Points have no Dollar value</li>
    <li>You must earn 100 point to get get $5 off</li>
    <li>You must earn 200 points to get earn $10 off</li>
    <li>You must earn 400 points to get earn $20 off</li>
    <li>You must earn 600 points to get $30 off</li>
  </ol>
</ion-content>
