<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title item-right>
      <img src="assets/img/tkride-cropped.png" alt="" class="logo-style" />
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="adjustLocation()">
        <ion-icon name="navigate-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content scroll="false">

  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>

  <div #map id="map">

  </div>

  <ion-searchbar
      style="margin-top:25px; background-color: rgba(0,0,0,0);"
      [(ngModel)]="autocompletePickup.query"
      [showCancelButton]="true"
      (ionInput)="updateSearchPickup()"
      #pickupSearch id="pickupSearch"
      placeholder={{pickupPlaceholder}}
      value={{pickupPlaceholder}}>
  </ion-searchbar>
  <ion-list style="margin-top:0px !important; margin-bottom:5px !important;" [hidden]="shouldHidePickup">
      <ion-item *ngFor="let item of autocompleteItemsPickup"
          (click)="PickupChooseItem(item)">
          {{ item.description }}
      </ion-item>
  </ion-list>

  <ion-searchbar
  style="background-color: rgba(0,0,0,0);"
  [disabled]="disabled"
      [(ngModel)]="autocompleteDropoff.query"
      [showCancelButton]="true"
      (ionInput)="updateSearchDropoff()"

      placeholder={{dropoffPlaceholder}}
      value={{dropoffPlaceholder}}>
  </ion-searchbar>
  <ion-list [hidden]="shouldHideDropoff">
      <ion-item *ngFor="let item of autocompleteItemsDropoff"
          (click)="DropoffChooseItem(item, button)">
          {{ item.description }}
      </ion-item>
  </ion-list>

  <ion-card class="card" *ngIf="address_pickup.set==true">

    <ion-item>
      <span class="font-12" item-left>Estimate</span>
      <span class="font-12" item-left>{{duration}}</span>
      <span class="font-12" item-left>{{distance}}</span>
      <span item-left class="font-12" style="color: green">{{estimate | currency:'USD':true:'1.0-0'}}</span>

      <!-- <button ion-button #button icon-left clear item-right (click)="goToList()">
        <ion-icon name="navigate"></ion-icon>
        Go
      </button> -->
    </ion-item>
  </ion-card>

</ion-content>
<ion-footer>
  <button *ngIf="duration && distance && estimate" style="margin-bottom: 0px !important"
    color="dark" ion-button full (click)="goToList()">
    <ion-icon name="navigate"></ion-icon>
    Go
  </button>
</ion-footer>
