page-preorder-ride {
  .bhootni {
    margin-top: 20px;
  }
  #please-connect {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #please-connect p {
      color: #fff;
      font-weight: bold;
      text-align: center;
      position: relative;
      font-size: 1.6em;
      top: 30%;
  }

  .scroll {
      height: 100%;
  }

  #map {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -7;
  }
  #map:after {
    width: 60px;
    height: 60px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%; left: 46%;
    margin: -40px 0 0 -11px;
    //background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
    background: url('../assets/img/ring-gif.gif');
    background-size: 60px 60px; /* Since I used the HiDPI marker version this compensates for the 2x size */
    pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
  }
}
.drop-off{
 background-color: rgba(255,255,255,0) !important;
}
.home-logo{
 margin-top:100px;
     width: 65%;
}
.card {
  z-index: 10;
}

.font-12 {
    font-size: 12px !important ;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.logo-style{
width: 55%;
       background-color: transparent !important;
       margin-top: 5px;
       }
       .home-logo{
 margin-top:20px;
     width: 65%;
}


}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.logo-style{
width: 55%;
       background-color: transparent !important;
       margin-top: 5px;
       }
              .home-logo{
 margin-top:50px;
     width: 65%;
}

}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.logo-style{
width: 55%;
       background-color: transparent !important;
       margin-top: 5px;
       margin-left: 10px;
       }

}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.logo-style{
width: 55%;
       background-color: transparent !important;
       margin-top: 5px;
       }

}
