<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title item-right>Preorder Rides</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="adjustLocation()">
        <ion-icon name="navigate-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div> -->

  <div #map id="map">

  </div>

  <ion-searchbar
      style="margin-top:25px; background-color: rgba(0,0,0,0);"
      [(ngModel)]="autocompletePickup.query"
      [showCancelButton]="true"
      (ionInput)="updateSearchPickup()"
      #pickupSearch id="pickupSearch"
      placeholder={{pickupPlaceholder}}
      value={{pickupPlaceholder}}>
  </ion-searchbar>
  <ion-list style="margin-top:0px !important; margin-bottom:5px !important;" [hidden]="shouldHidePickup">
      <ion-item *ngFor="let item of autocompleteItemsPickup"
          (click)="PickupChooseItem(item)">
          {{ item.description }}
      </ion-item>
  </ion-list>

  <ion-searchbar
  style="background-color: rgba(0,0,0,0);"
  [disabled]="disabled"
      [(ngModel)]="autocompleteDropoff.query"
      [showCancelButton]="true"
      (ionInput)="updateSearchDropoff()"

      placeholder={{dropoffPlaceholder}}
      value={{dropoffPlaceholder}}>
  </ion-searchbar>
  <ion-list [hidden]="shouldHideDropoff">
      <ion-item *ngFor="let item of autocompleteItemsDropoff"
          (click)="DropoffChooseItem(item, button)">
          {{ item.description }}
      </ion-item>
  </ion-list>
  <ion-card>
    <!-- <ion-datetime displayFormat="MM-DD-YYYY" min="2017-04-01" max="2030-12-31"></ion-datetime> -->
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD MMM, hh:mm A" pickerFormat="DD MMM, hh:mm A" [(ngModel)]="scheduledRideDate"></ion-datetime>
    </ion-item>
  </ion-card>

  <ion-footer>
    <ion-card class="card" style="bottom: 36px; position: fixed;" *ngIf="address_pickup.set==true">

      <ion-item>
        <span class="font-12" item-left>Estimate</span>
        <span class="font-12" item-left>{{duration}}</span>
        <span class="font-12" item-left>{{distance}}</span>
        <span item-left class="font-12" style="color: green">{{estimate | currency:'USD':true:'1.0-0'}}</span>

      </ion-item>
    </ion-card>
    <button class="card" color="dark" style="bottom: -5px; position: fixed; height: 45px; margin-left: 0px; margin-right: 0px; padding:0px" full ion-button #button icon-left item-right (click)="bookRide()">
      <ion-icon ios="ios-cloud-upload-outline"></ion-icon>
      Save
    </button>
  </ion-footer>
</ion-content>
