<ion-header>

  <ion-navbar color="dark">
    <ion-title item-right>
      <img src="assets/img/tkride-cropped.png" alt="" class="logo-style" />
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <p class="center" style="margin-top: 40px !important;" >
    <ion-icon class="icon-large" style="color:white; " name="card"></ion-icon>
  </p>
  <h4 class="center" style="color:white; "><strong>Your Payment details</strong></h4>

  <!-- <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p> -->
  
    <div margin-top>
      <form [formGroup]="paymentForm">

        <ion-item class="item">
          <ion-label floating>Credit Card number</ion-label>
          <ion-input formControlName="cc" type="number" [class.invalid]="!paymentForm.controls.cc.valid && (paymentForm.controls.cc.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item class="item" *ngIf="!paymentForm.controls.cc.valid  && (paymentForm.controls.cc.dirty || submitAttempt)">
          <p>Please enter a valid credit card number.</p>
        </ion-item>

        <ion-item class="item">
          <ion-label floating>CVV</ion-label>
          <ion-input formControlName="cvv" type="number" [class.invalid]="!paymentForm.controls.cvv.valid && (paymentForm.controls.cvv.dirty || submitAttempt)"></ion-input>
        </ion-item >
        <ion-item class="item" *ngIf="!paymentForm.controls.cvv.valid  && (paymentForm.controls.cvv.dirty || submitAttempt)">
          <p>Please enter a valid CVV number.</p>
        </ion-item>

        <!--<ion-item>
          <ion-label floating>Expiration Month</ion-label>
          <ion-input formControlName="month" type="number"
            [class.invalid]="!paymentForm.controls.month.valid && (paymentForm.controls.month.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!paymentForm.controls.month.valid  && (paymentForm.controls.month.dirty || submitAttempt)">
            <p>Please enter a valid month.</p>
        </ion-item>-->
        <ion-item class="no-padding item">
          <ion-label floating>Expiration month</ion-label>
          <!--<ion-datetime displayFormat="MM" pickerFormat="MM" formControlName="expirationMonth"></ion-datetime>-->
          <ion-select formControlName="month">
            <ion-option value="01" checked=true>January</ion-option>
            <ion-option value="02">February</ion-option>
            <ion-option value="03">March</ion-option>
            <ion-option value="04">April</ion-option>
            <ion-option value="05">May</ion-option>
            <ion-option value="06">June</ion-option>
            <ion-option value="07">July</ion-option>
            <ion-option value="08">August</ion-option>
            <ion-option value="09">September</ion-option>
            <ion-option value="10">October</ion-option>
            <ion-option value="11">November</ion-option>
            <ion-option value="12">December</ion-option>
          </ion-select>
        </ion-item>

        <!--<ion-item>
          <ion-label floating>Expiration Year</ion-label>
          <ion-input formControlName="year" type="number" [class.invalid]="!paymentForm.controls.year.valid && (paymentForm.controls.year.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!paymentForm.controls.year.valid  && (paymentForm.controls.year.dirty || submitAttempt)">
          <p>Please enter a valid year.</p>
        </ion-item>-->

        <ion-item class="no-padding item">
          <ion-label floating>Expiration year</ion-label>
          <ion-datetime displayFormat="YY" pickerFormat="YYYY" min={{minYear}} max={{maxYear}} formControlName="year"></ion-datetime>
        </ion-item>

      </form>
 </div>
  <button ion-button color="dark" bottom block (click)="submit()">Submit</button>

</ion-content>