page-payment {
  .center {
text-align: center;
}

.gray-bg {
background-color: #f4f4f7;
}

.icon-large {
font-size: 100px;
color: #387ef5;
opacity: 0.5;
}

.list-ios > .item-block:first-child {
border-top: 0;
}

ion-card ion-list .item {
border-bottom: 1px solid #c8c7cc;
}

ion-list .item-inner {
border-bottom: 0;
}

ion-card-content .button-block {
margin-top: 16px;
 }
     ion-content{
      // background-image: url('https://www.empirecls.com/wp-content/themes/empire-custom/images/hero-home.jpg');
      // background: url('img/hero-home.jpg');
      background-image: url('../assets/img/hero-home.jpg');
          background-position-x: -60px;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position:absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
}
