<ion-header>

  <ion-navbar color="dark">
    <ion-title>Reset password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
      placeholder="Your email address"
      [class.invalid]="!resetPasswordForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <button ion-button color="dark" block type="submit">
      Reset your Password
    </button>

  </form>

</ion-content>
