
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Enter address</ion-title>
    <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-header>
  <ion-navbar color="dark">
    <ion-title>Search address</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-searchbar
        [(ngModel)]="autocomplete.query"
        [showCancelButton]="true"
        (ionInput)="updateSearch()"
        (click)="{}"
        (ionCancel)="dismiss()"
        placeholder="Start typing and select ...">
    </ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of autocompleteItems"
            (click)="PickupChooseItem(item)">
            {{ item.description }}
        </ion-item>
    </ion-list>
</ion-content>
