<ion-header>

  <ion-toolbar>
    <ion-title>Description</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <img src="assets/img/car1.jpg" alt="" />
  <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/img/driver1.png">
        </ion-avatar>
        <h2> Danish</h2>
      </ion-item>
      <ion-item>
        Make
        <ion-note item-right>
          Civic
        </ion-note>
      </ion-item>
      <ion-item>
        Modal
        <ion-note item-right>
          2016
        </ion-note>
      </ion-item>
      <ion-item>
        Color
        <ion-note item-right>
          white
        </ion-note>
      </ion-item>
  </ion-list>
  <!-- <button ion-button (click)="sendNotificaiton()"color="dark" round>Dark Round</button> -->
  <button ion-button color="dark" block>Send Request</button>
</ion-content>
